body{
    min-height: 100%;
    color: white;
}

.back-title-loja{
    background-color: #25295B;
    width: 400px;
    height: 80px;
    margin-left: 600px;
    border-radius: 40px;
    text-align: center;
    display: flex;
    align-items: center; 
}

.title-loja{
    margin-left: 110px;
}

