body{
    min-height: 100%;
    color: white;
}

.back-title-loja{
    background-color: #25295B;
    width: 400px;
    height: 80px;
    margin-left: 600px;
    border-radius: 40px;
    text-align: center;
    display: flex;
    align-items: center; 
}

.title-loja{
    margin-left: 150px;
}

.information{
    margin-top: -175px;
    margin-left: 260px;
}

.faixa-client{
    background-color: #151839;
    width: 900px;
    height: 200px;
    border-radius: 40px;
    margin-top: 20px;
    margin-left: 350px;
}

.faixa-client-icon{
    background-color: #25295B;
    width: 250px;
    height: 200px;
    border-radius: 40px;
    
}

.icon-client{
    font-size: 170px;
    margin-left: 35px;
}