body{
    min-height: 100%;
    color: white;
}

.container{
    width: 2500px; /* Define a largura da div content */
    margin-left: 300px; /* Move a div content para a direita */
    margin-right: auto;
    margin-top: 400px;
}

.box{
    
    width: 1500px;
    height: 800px;
    margin-top: 100px;
    margin-left: 280px;
}

.back-title-create-client{
    background-color: #25295B;
    width: 400px;
    height: 80px;
    margin-left: 600px;
    border-radius: 40px;
    text-align: center;
    display: flex;
    align-items: center; 
}

.title-create-client{
    margin-left: 40px;
}

.input-nome-client{
    width: 500px;
    height: 60px;
    border: 5px solid #25295B;
    border-radius: 40px;
    padding: 7px 7px;
    font-size: 15px;
    margin-top: 100px;
    margin-left: 290px;
}

.input-contato-client{
    width: 500px;
    height: 60px;
    border: 5px solid #25295B;
    border-radius: 40px;
    padding: 7px 7px;
    font-size: 15px;
    margin-left: 20px;
}

.input-email-client{
    width: 1020px;
    height: 60px;
    border: 5px solid #25295B;
    border-radius: 40px;
    padding: 7px 7px;
    font-size: 15px;
    margin-top: 20px;
    margin-left: 290px;
}

.input-bairro-client{
    width: 500px;
    height: 60px;
    border: 5px solid #25295B;
    border-radius: 40px;
    padding: 7px 7px;
    font-size: 15px;
    margin-top: 20px;
    margin-left: 290px;
}

.input-numero-client{
    width: 500px;
    height: 60px;
    border: 5px solid #25295B;
    border-radius: 40px;
    padding: 7px 7px;
    font-size: 15px;
    margin-left: 20px;
}

.input-rua-client{
    width: 500px;
    height: 60px;
    border: 5px solid #25295B;
    border-radius: 40px;
    padding: 7px 7px;
    font-size: 15px;
    margin-top: 20px;
    margin-left: 290px;
}

.input-complemento-client{
    width: 500px;
    height: 60px;
    border: 5px solid #25295B;
    border-radius: 40px;
    padding: 7px 7px;
    font-size: 15px;
    margin-left: 20px;
}

.button-cancelar-client{
    width: 180px;
    height: 60px;
    border: none;
    border-radius: 40px;
    background-color: #25295B;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: transform 200ms ease-in-out;
    margin-top: 10px;
    margin-left: 900px;
}

.button-cancelar-client:hover{
    transform: scale(1.05);
    background-color: #25235B;
}

.button-cadastrar-client{
    width: 180px;
    height: 60px;
    border: none;
    border-radius: 40px;
    background-color: #25295B;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: transform 200ms ease-in-out;
    margin-top: 10px;
    margin-left: 50px;
}

.button-cadastrar-client:hover{
    transform: scale(1.05);
    background-color: #25235B;
}

