body{
    min-height: 100%;
    color: white;
}

.back-title-nota{
    background-color: #25295B;
    width: 400px;
    height: 80px;
    margin-left: 600px;
    border-radius: 40px;
    text-align: center;
    display: flex;
    align-items: center; 
}

.title-nota{
    margin-left: 150px;
}

.faixa-nota{
    background-color: #151839;
    width: 900px;
    height: 200px;
    border-radius: 40px;
    margin-top: 20px;
    margin-left: 350px;
}

.faixa-nota-icon{
    background-color: #25295B;
    width: 230px;
    height: 200px;
    border-radius: 40px;
    
}

.icon-nota{
    font-size: 160px;
    margin-left: 35px;
}